{
  "plugins": [
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "newlines-between": "never"
      }
    ],
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-deprecated": "error",
    "import/no-extraneous-dependencies": "error",
    "prettier/prettier": "error"
  },
  "env": {
    "es6": true,
    "node": true
  }
}